<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
      <link rel="stylesheet/less" href="/less/mgt/index.less">
      <script src="/javascripts/less.min.js"></script>
  </head>
  <body>
  <div class="login_bg">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">时间管理</a>
            </div>
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <a href=""  class="btn btn-default">
                        登录
                    </a>
                    <a href=""  class="btn btn-default">
                        注册
                    </a>
                </form>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown active">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Bootstrap<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="">Bootstrap CSS</a></li>
                            <li><a href="">Bootstrap 布局组件</a></li>
                            <li><a href="">Bootstrap 插件</a></li>
                        </ul>
                    </li>
                    <li><a href="#">angular</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            其他<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="">Bootstrap CSS</a></li>
                            <li><a href="">Bootstrap 布局组件</a></li>
                            <li><a href="">Bootstrap 插件</a></li>
                            <li class="divider"></li>
                            <li><a href="#">分离的链接</a></li>
                            <li class="divider"></li>
                            <li><a href="#">另一个分离的链接</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top:70px;">
        <div class="row">
            <div class="col-xs-1 col-sm-8">
            </div>
            <div class="col-xs-10 col-sm-4 panel">
                <div class="panel-body">
                  <ul id="myTab" class="nav nav-tabs">
                      <li class="active">
                          <a href="#login" data-toggle="tab">登录</a>
                      </li>
                      <li>
                          <a href="#register" data-toggle="tab">注册</a>
                      </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade in active" id="login">
                          <form role="form">
                              <div class="form-group">
                                  <label for="name">昵称</label>
                                  <input type="text" class="form-control" id="username_mgt" placeholder="请输入名称">
                              </div>
                              <div class="form-group">
                                  <label for="password">密码</label>
                                  <input type="text" class="form-control" id="password_mgt" placeholder="请输入密码">
                              </div>
                              <button type="submit" class="btn btn-default" id="login_mgt">登录</button>
                          </form>
                      </div>
                      <div class="tab-pane fade" id="register">
                          <form role="form">
                              <div class="form-group">
                                  <label for="name">昵称</label>
                                  <input type="text" class="form-control" id="name" placeholder="请输入名称">
                              </div>
                              <div class="form-group">
                                  <label for="password">密码</label>
                                  <input type="text" class="form-control" id="" placeholder="请输入密码">
                              </div>
                              <div class="form-group">
                                  <label for="password">确认密码</label>
                                  <input type="text" class="form-control" id="" placeholder="请再输入密码">
                              </div>
                              <button type="submit" class="btn btn-default">注册</button>
                          </form>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script>
      $("#login_mgt").click(function(){
          var username=$("#username_mgt").val();
          var password=$("#password_mgt").val();
          var data={"uname":username,"upwd":password};
          $.ajax({
              url:'/login',
              type:'post',
              data:data,
              success:function(data,status){
                  var obj = JSON.parse(data);
                  if(obj.type=="1"){
                      //alert(obj.type);
                      location.href = 'index';
                  }else{
                      //alert(obj.type);
                      location.href = 'login';
                  }
              },
              error:function(data,status){
              }
          })
      });
      console.log(encodeURIComponent("http://www.timemgt.com.cn/qdzn/view/index.html"))
  </script>
  </body>
</html>
